# binaries
/goto
/build/
*.AppImage
/AppDir/
*.syso        # generated in Windows CI from goto.rc (the exe icon resource)

# compiled whisper.cpp lib
/third_party/whisper.cpp/build_go/

# downloaded models (do not version)
*.bin

# goreleaser artifacts
/dist/
